<style>
    .layui-form-label{
        width: 100px;
    }
    .pb50{
    !important;padding-bottom: 0px;
    }
    .layui-layedit{
        margin-left: 20px;
    }
</style>
<form class="layui-form" action="{:url()}" method="post">
    <div class="layui-tab-item layui-show">
        <div class="layui-form-item">
            <label class="layui-form-label">实训室名称</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="laboratory_name" lay-verify="required" autocomplete="off" placeholder="请输入实训室名称">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">主图图片</label>
        <div class="layui-input-inline upload">
            <button type="button" id="upload" name="image" class="layui-btn layui-upload" lay-type="image" lay-data="{ exts:'jpg|png|gif|jpeg|ico', accept:'image'}"><i class="layui-icon"></i>请上传图片</button>
            <input type="hidden" class="upload-input" name="image" value="">
            <img src="" style="display:none;border-radius:5px;border:1px solid #ccc" width="36" height="36">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">实验室简介</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" class="layui-textarea" name="introduction" style="width: 550px"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">主视频</label>
        <div class="layui-input-inline upload">
            <button type="button" class="layui-btn" id="video"><i class="layui-icon"></i>请上传视频</button>
            <input type="text" style="display:none;" class="upload-input" id="video_file" name="video" value="">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">主文件</label>
        <div class="layui-input-inline upload">
            <button type="button" class="layui-btn" id="test3"><i class="layui-icon"></i>请上传文件</button>
            <input type="text" style="display: none;" class="upload-input" id="file" name="file" value="">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">详情介绍</label>
        <div class="layui-input-block">
            <textarea class="layui-textarea layui-hide" data-type="content" name="" lay-verify="content" id="content"></textarea>
            <input type="hidden" name="content" value="" id="content_text">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">设置智慧实验室</label>
        <div class="layui-input-block">
            <input type="checkbox" name="is_wisdom" lay-skin="switch" lay-text="是|不是">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn layui-btn-normal" data-type="content" id="submit" lay-submit="" lay-filter="formSubmit" hisi-data="{pop: true, refresh: true}">提交</button>
            <a href="javascript:parent.layui.layer.closeAll();" class="layui-btn layui-btn-primary ml10"><i class="aicon ai-fanhui"></i>取消</a>
        </div>
    </div>
</form>
{include file="block/layui" /}

<script>
    layui.use(['layedit','upload'], function(){
        var $ = layui.jquery
            ,layedit = layui.layedit
            ,upload = layui.upload;


        upload.render({
            elem: '#upload',
            url: '{:url("system/annex/upload?group=laboratory&thumb=100x100&water=no")}'
            ,method: 'post'
            ,before: function(input) {
                layer.msg('文件上传中...', {time:3000000});
            },done: function(res, index, upload) {
                var obj = this.item;
                if (res.code == 0) {
                    layer.msg(res.msg);
                    return false;
                }
                layer.closeAll();
                var input = $(obj).parents('.upload').find('.upload-input');
                if ($(obj).attr('lay-type') == 'image') {
                    input.siblings('img').attr('src', res.data.file).show();
                }
                input.val(res.data.file);
            }
        });

        //指定允许上传的文件类型
        upload.render({
            elem: '#video'
            ,url: '{:url("admin/laboratory/upload_file?type=video")}' //改成您自己的上传接口
            ,accept: 'file' //普通文件
            ,done: function(res){
                layer.msg('上传成功');
                $("#video_file").val(res.path);
                $("#video_file").show();
            }
        });

        //指定允许上传的文件类型
        upload.render({
            elem: '#test3'
            ,url: '{:url("admin/laboratory/upload_file?type=file")}' //改成您自己的上传接口
            ,accept: 'file' //普通文件
            ,done: function(res){
                layer.msg('上传成功');
                $("#file").val(res.path);
                $("#file").show();
            }
        });

        //创建一个编辑器
        layedit.set({
            uploadImage: {
                url: '{:url("admin/laboratory/upload?group=laboratory&thumb=200&water=no")}' //接口url
            }
        });
        var index = layedit.build('content',{
            height:250,
        });

        var active = {
            content: function(){
                $("#content_text").val(layedit.getContent(index));
            }
        };

        $('#submit').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });


    });
</script>