<form class="layui-form" action="">
    <div class="layui-form-item" style="margin-bottom: 0px;">
        <div class="layui-inline">
            <select name="category_id" id="category_id" lay-filter="label" class="select classifySelect" style="width: 200px;">
                <option value="">请选择分类</option>
                {volist name="category_list" id="vo"}
                <option value="{$vo.id}">{$vo.category_name}</option>
                {/volist}
            </select>
        </div>
        <div class="layui-inline">
            <div class="layui-btn layui-btn-normal" onclick="search()">搜 索</div>
        </div>
    </div>
</form>

<table id="dataTable" lay-filter="dataTable"></table>

{include file="block/layui" /}

<script type="text/html" id="statusTpl">
    <input type="checkbox" name="is_wisdom" value="{{ d.is_wisdom }}" lay-skin="switch" lay-filter="switchStatus" lay-text="是|否" {{ d.is_wisdom == 1 ? 'checked' : '' }} data-href="{:url('is_wisdom')}?id={{ d.id }}">
</script>

<script type="text/html" title="操作按钮模板" id="buttonTpl">
    <a href="{:url('edit')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal j-iframe-pop" hisi-data="{width: '850px', height: '600px'}">修改</a>
    <a href="{:url('del')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-danger j-tr-del">删除</a>
</script>

<script type="text/html" id="toolbar">
    <div class="layui-btn-group fl">
        <a href="{:url('add')}" class="layui-btn layui-btn-primary layui-btn-sm layui-icon layui-icon-add-circle-fine j-iframe-pop"  hisi-data="{width: '850px', height: '600px'}">&nbsp;添加</a>
        <a data-href="{:url('del')}" class="layui-btn layui-btn-primary layui-btn-sm j-page-btns confirm layui-icon layui-icon-close red">&nbsp;删除</a>
    </div>
</script>
<script src="/static/js/jquery.2.1.4.min.js"></script>
<!--<script src="/warehouse/hisiphp/public/static/js/jquery.2.1.4.min.js"></script>-->

<script type="text/javascript">
    layui.use(['table'], function() {
        var table = layui.table;
        table.render({
            elem: '#dataTable'
            ,url: '{:url()}' //数据接口
            ,page: true //开启分页
            ,skin: 'row'
            ,even: true
            ,text: {
                none : '暂无相关数据'
            }
            ,toolbar: '#toolbar'
            ,defaultToolbar: ['filter']
            ,cols: [[ //表头
                {type:'checkbox'}
                ,{field: 'category_id', title: '所属分类'}
                ,{field: 'laboratory_name', title: '实训室名字'}
                ,{field: 'image', title: '封面图'}
                ,{field: 'video', title: '视频地址'}
                ,{field: 'file', title: '文件地址'}
                ,{field: 'is_wisdom', title: '是否展示在首页', width: 200, templet: '#statusTpl'}
                ,{title: '操作', templet: '#buttonTpl'}

            ]]
        });

    });

    function search(){
        var category_id = $("#category_id").val();

        $.ajax({
            type:"post",
            url:"index",
            data:{category_id:category_id},
            cache:false,
            async:false,
            success:function (res) {
                layui.use(['table'], function() {
                    var table = layui.table;
                    table.render({
                        elem: '#dataTable'
                        ,page: true //开启分页
                        ,skin: 'row'
                        ,even: true
                        ,text: {
                            none : '暂无相关数据'
                        }
                        ,toolbar: '#toolbar'
                        ,defaultToolbar: ['filter']
                        ,cols: [[ //表头
                            {type:'checkbox'}
                            ,{field: 'category_id', title: '所属分类'}
                            ,{field: 'laboratory_name', title: '实训室名字'}
                            ,{field: 'image', title: '封面图'}
                            ,{field: 'video', title: '视频地址'}
                            ,{field: 'file', title: '文件地址'}
                            ,{field: 'is_wisdom', title: '是否展示在首页', width: 200, templet: '#statusTpl'}
                            ,{title: '操作', templet: '#buttonTpl'}

                        ]]
                        ,data:res.data
                    });

                });
            }
        })
    }
</script>