<style>
    .layui-form-label{
        width: 100px;
    }
    .pb50{
    !important;padding-bottom: 0px;
    }
</style>
<form class="layui-form" action="{:url()}" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">类型</label>
        <div class="layui-input-inline">
            <select name="type" id="type" lay-filter="label" class="select classifySelect">
                <option value="0">请选择</option>
                <option value="1">产品</option>
                <option value="2">实训室</option>
                <option value="3">院校案例</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">选择数据</label>
        <div class="layui-input-inline">
            <select name="data_id" id="data_id" class="field-type" type="select" lay-filter="type">

            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">图片</label>
        <div class="layui-input-inline upload" style="width: 350px;">
            <button type="button" name="upload" class="layui-btn layui-btn-primary layui-upload" lay-type="image" lay-data="{ exts:'jpg|png|gif|jpeg|ico', accept:'image'}">请上传图片</button>
            <input type="hidden" class="upload-input" name="image" value="">
            <img src="" style="display:none;border-radius:5px;border:1px solid #ccc" width="36" height="36">
            <span style="color: #C8C8C8;">&nbsp;&nbsp;上传尺寸(1420*568像素)</span>
        </div>
    </div>

    <div class="layui-tab-item layui-show">
        <div class="layui-form-item">
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="formSubmit" hisi-data="{pop: true, refresh: true}">提交</button>
            <a href="javascript:parent.layui.layer.closeAll();" class="layui-btn layui-btn-primary ml10"><i class="aicon ai-fanhui"></i>取消</a>
        </div>
    </div>
</form>
{include file="block/layui" /}

<script>
    layui.use(['jquery', 'laydate', 'upload' , 'form'], function() {
        var $ = layui.jquery, laydate = layui.laydate, layer = layui.layer, upload = layui.upload;
        upload.render({
            elem: '.layui-upload',
            url: '{:url("system/annex/upload?group=banner&thumb=100x100&water=no")}'
            ,method: 'post'
            ,before: function(input) {
                layer.msg('文件上传中...', {time:3000000});
            },done: function(res, index, upload) {
                var obj = this.item;
                if (res.code == 0) {
                    layer.msg(res.msg);
                    return false;
                }
                layer.closeAll();
                var input = $(obj).parents('.upload').find('.upload-input');
                if ($(obj).attr('lay-type') == 'image') {
                    input.siblings('img').attr('src', res.data.file).show();
                }
                input.val(res.data.file);
            }
        });
        // 日期渲染
        laydate.render({elem: '.layui-date'});

        layui.form.on("select(label)",function() {
            type = $("#type").val();
            $.ajax({
                type:"post",
                url:"get_data.html",
                data:{type:type},
                async:false,
                cache:false,
                success:function (res) {
                    // console.log(res);
                    data_html = '';
                    $(res).each(function (i) {
                        if (type == 1){
                            data_html +="<option value='"+this.id+"'>"+this.product_name+"</option>";
                        } else if (type == 2){
                            data_html +="<option value='"+this.id+"'>"+this.laboratory_name+"</option>";
                        } else if (type == 3){
                            data_html +="<option value='"+this.id+"'>"+this.title+"</option>";
                        } else {
                            data_html = "<option value='0'>请选择类型</option>";
                        }

                    });
                    // console.log(cate_html);
                    $('#data_id').html(data_html);
                    layui.form.render('select'); //这个很重要
                }
            });

        })
    });


</script>