<style>
    .layui-form-label{
        width: 100px;
    }
    .pb50{
    !important;padding-bottom: 0px;
    }
</style>
<form class="layui-form" action="{:url()}" method="post">
    <div class="layui-tab-item layui-show">
        <div class="layui-form-item">
            <label class="layui-form-label">链接地址</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="url" lay-verify="required" autocomplete="off" placeholder="请输入链接地址" value="{$info.url}">
                <input type="hidden" name="id" value="{$info.id}">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">图片</label>
        <div class="layui-input-inline upload">
            <button type="button" name="upload" class="layui-btn layui-btn-primary layui-upload" lay-type="image" lay-data="{ exts:'jpg|png|gif|jpeg|ico', accept:'image'}">请上传图片</button>
            <input type="hidden" class="upload-input" name="image" value="{$info.image}">
            <img src="{$info.image}" style="display:inline;border-radius:5px;border:1px solid #ccc" width="36" height="36">
        </div>
    </div>

    <div class="layui-tab-item layui-show">
        <div class="layui-form-item">
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="formSubmit" hisi-data="{pop: true, refresh: true}">提交</button>
            <a href="javascript:parent.layui.layer.closeAll();" class="layui-btn layui-btn-primary ml10"><i class="aicon ai-fanhui"></i>取消</a>
        </div>
    </div>
</form>
{include file="block/layui" /}

<script>
    layui.use(['jquery', 'laydate', 'upload' , 'form'], function() {
        var $ = layui.jquery, laydate = layui.laydate, layer = layui.layer, upload = layui.upload;
        upload.render({
            elem: '.layui-upload',
            url: '{:url("system/annex/upload?group=banner&thumb=100x100&water=no")}'
            ,method: 'post'
            ,before: function(input) {
                layer.msg('文件上传中...', {time:3000000});
            },done: function(res, index, upload) {
                var obj = this.item;
                if (res.code == 0) {
                    layer.msg(res.msg);
                    return false;
                }
                layer.closeAll();
                var input = $(obj).parents('.upload').find('.upload-input');
                if ($(obj).attr('lay-type') == 'image') {
                    input.siblings('img').attr('src', res.data.file).show();
                }
                input.val(res.data.file);
            }
        });
        // 日期渲染
        laydate.render({elem: '.layui-date'});
    });


</script>