<style>
    .layui-form-label{
        width: 100px;
    }
    .pb50{
    !important;padding-bottom: 0px;
    }
</style>
<form class="layui-form" action="{:url()}" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">选择分类</label>
        <div class="layui-input-inline">
            <select name="" id="category_id" lay-filter="label" class="select classifySelect">
                <option value="">请选择分类</option>
                {volist name="category_list" id="vo"}
                <option value="{$vo.id}">{$vo.name}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">选择视频</label>
        <div class="layui-input-inline">
            <select name="data_id" id="data_id" class="field-type" type="select" lay-filter="type">
                <option value="">请选择视频</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">图片</label>
        <div class="layui-input-inline upload">
            <button type="button" name="upload" class="layui-btn layui-btn-primary layui-upload" lay-type="image" lay-data="{ exts:'jpg|png|gif|jpeg|ico', accept:'image'}">请上传图片</button>
            <input type="hidden" class="upload-input" name="image" value="">
            <img src="" style="display:none;border-radius:5px;border:1px solid #ccc" width="36" height="36">
        </div>
    </div>

    <div class="layui-tab-item layui-show">
        <div class="layui-form-item">
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="formSubmit" hisi-data="{pop: true, refresh: true}">提交</button>
            <a href="javascript:parent.layui.layer.closeAll();" class="layui-btn layui-btn-primary ml10"><i class="aicon ai-fanhui"></i>取消</a>
        </div>
    </div>
</form>
{include file="block/layui" /}

<script>
    layui.use(['jquery', 'laydate', 'upload' , 'form'], function() {
        var $ = layui.jquery, laydate = layui.laydate, layer = layui.layer, upload = layui.upload;
        upload.render({
            elem: '.layui-upload',
            url: '{:url("system/annex/upload?group=videomain&thumb=100x100&water=no")}'
            ,method: 'post'
            ,before: function(input) {
                layer.msg('文件上传中...', {time:3000000});
            },done: function(res, index, upload) {
                var obj = this.item;
                if (res.code == 0) {
                    layer.msg(res.msg);
                    return false;
                }
                layer.closeAll();
                var input = $(obj).parents('.upload').find('.upload-input');
                if ($(obj).attr('lay-type') == 'image') {
                    input.siblings('img').attr('src', res.data.file).show();
                }
                input.val(res.data.file);
            }
        });
        // 日期渲染
        laydate.render({elem: '.layui-date'});

        layui.form.on("select(label)",function() {
            category = $("#category_id").val();
            // console.log(category);
            $.ajax({
                type:"post",
                url:"get_video.html",
                data:{id:category},
                async:false,
                cache:false,
                success:function (res) {
                    // console.log(res);
                    cate_html = '';
                    $(res).each(function (i) {
                        cate_html +="<option value=''>请选择视频</option><option value='"+this.id+"'>"+this.video_name+"</option>";
                    });
                    // console.log(cate_html);
                    $('#data_id').html(cate_html);
                    layui.form.render('select'); //这个很重要
                }
            });

        })
    });


</script>