<form class="layui-form" action="">
    <div class="layui-form-item" style="margin-bottom: 0px;">
        <div class="layui-inline">
            <select name="type" id="type" lay-filter="label" class="select classifySelect" style="width: 200px;">
                <option value="">请选择来源</option>
                <!--<option value="1">产品</option>-->
                <option value="2">实训室</option>
                <option value="3">案例</option>
                <option value="4">视频库</option>
            </select>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="search_date" placeholder=" - ">
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-btn layui-btn-normal" onclick="search()">搜 索</div>
        </div>
    </div>
</form>

<table id="dataTable" lay-filter="dataTable"></table>

{include file="block/layui" /}

<script type="text/html" id="statusTpl">
    <input type="checkbox" name="status" value="{{ d.status }}" lay-skin="switch" lay-filter="switchStatus" lay-text="正常|关闭" {{ d.status == 1 ? 'checked' : '' }} data-href="{:url('statusRole')}?id={{ d.id }}">
</script>

<script type="text/html" title="操作按钮模板" id="buttonTpl">
    <a href="{:url('del')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-danger j-tr-del">删除</a>
</script>

<script type="text/html" id="toolbar">
    <div class="layui-btn-group fl">
        <a href="{:url('add')}" class="layui-btn layui-btn-primary layui-btn-sm layui-icon layui-icon-add-circle-fine j-iframe-pop" hisi-data="{width: '750px', height: '570px'}">&nbsp;添加</a>
        <a data-href="{:url('del')}" class="layui-btn layui-btn-primary layui-btn-sm j-page-btns confirm layui-icon layui-icon-close red">&nbsp;删除</a>
    </div>
</script>
<script src="/static/js/jquery.2.1.4.min.js"></script>
<!--<script src="/warehouse/hisiphp/public/static/js/jquery.2.1.4.min.js"></script>-->

<script type="text/javascript">
    layui.use(['table' , 'laydate'], function() {
        var table = layui.table,
            laydate = layui.laydate;
        table.render({
            elem: '#dataTable'
            ,url: '{:url()}' //数据接口
            ,page: true //开启分页
            ,skin: 'row'
            ,even: true
            ,text: {
                none : '暂无相关数据'
            }
            // ,toolbar: '#toolbar'
            ,defaultToolbar: ['filter']
            ,cols: [[ //表头
                {type:'checkbox'}
                ,{field: 'user_id', title: '评论人'}
                ,{field: 'data_id', title: '数据名称'}
                ,{field: 'type', title: '来源'}
                ,{field: 'content', title: '内容'}
                ,{field: 'c_time', title: '评论时间'}
                ,{title: '操作', templet: '#buttonTpl'}

            ]]
        });

        //日期时间范围
        laydate.render({
            elem: '#search_date'
            ,type: 'date'
            ,range: true
            ,format: 'yyyy/MM/dd'
        });
    });

    function search(){
        var type = $("#type").val();
        var date = $("#search_date").val();

        $.ajax({
            type:"post",
            url:"index",
            data:{type:type,date:date},
            cache:false,
            async:false,
            success:function (res) {
                layui.use(['table'], function() {
                    var table = layui.table;
                    table.render({
                        elem: '#dataTable'
                        ,page: true //开启分页
                        ,skin: 'row'
                        ,even: true
                        ,text: {
                            none : '暂无相关数据'
                        }
                        ,toolbar: '#toolbar'
                        ,defaultToolbar: ['filter']
                        ,cols: [[ //表头
                            {type:'checkbox'}
                            ,{field: 'user_id', title: '评论人'}
                            ,{field: 'data_id', title: '数据名称'}
                            ,{field: 'type', title: '来源'}
                            ,{field: 'content', title: '内容'}
                            ,{field: 'c_time', title: '评论时间'}
                            ,{title: '操作', templet: '#buttonTpl'}

                        ]]
                        ,data:res.data
                    });

                });
            }
        })
    }
</script>